<div class="container"> 
<div class="row"> 
<div class="col-xs-3" >


<% if flash[:notice] %>
           <div class="flash">
           	 <%= flash[:notice] %>
           </div>
         <% end %>


<h1>User info</h1>
<%= attachment_image_tag @book.user, :profile_image ,fallback: "no_image.jpg"%>
<h4>name</h4>
<%= @book.user.name %>
<h4>introduction</h4>
<%= @book.user.introduction %>


<h1>New book</h1>
<%= form_for(@book) do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>
<br> <button class="btn btn-primary">Create Book</button></br>
<% end %>
</div>


<div class="col-xs-9" >
<h1>Book detail</h1>
<table class="table">
<thead>
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>
<%= attachment_image_tag @user, :profile_image ,fallback: "no_image.jpg"%>
<%= link_to user_path(@book.user) do %>
	<%= @book.user.name %>	
<% end %>	
</td>
<td><%= @book.title %> </td>
<td><%= @book.body%> </td>
<td>
<button class="btn btn-success"><% if @book.user == current_user %><%= link_to "Edit", edit_book_path(@book.id) %><% end %></button>
</td>
<td>
<button class="btn btn-danger"><% if @book.user == current_user %><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %><% end %></button>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>